In [55]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.2)
Requirement already satisfied: py4j<0.10.9.10,>=0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [56]:
from pyspark.sql import SparkSession

In [57]:
spark = SparkSession.builder.appName('Lendo CSV').getOrCreate()

In [58]:
caminho_csv = "./base_de_dados.csv"

df = spark.read.csv(
    path=caminho_csv,
    sep=";",
    header=True
)

df.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+----------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|  data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+----------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|18/02/2022 13:28|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|08/04/2022 01:47|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|14/07/2022 03:18|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|15/01/2022 18:06|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|13/05/2022 11:04|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|11/09/2022 13:38|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|10/12/2021 12:37|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|30/12/2021 23:18|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|21/06/2021 07:20|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|21/09/2022 17:19|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|12/09/2022 00:29|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|07/08/2022 17:01|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|07/03/2021 12:34|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|24/03/2021 22:58|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|21/02/2022 11:25|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|20/07/2021 09:17|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|16/02/2022 10:16|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|18/07/2022 22:46|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|26/02/2022 15:05|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|22/06/2021 05:39|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+----------------+
only showing top 20 rows

In [59]:
df.schema.fieldNames()

['id',
 'valor',
 'parte_debitada_nome',
 'parte_debitada_conta',
 'parte_debitada_banco',
 'parte_creditada_nome',
 'parte_creditada_conta',
 'parte_creditada_banco',
 'chave_pix_tipo',
 'chave_pix_valor',
 'data_transacao']

In [60]:
from pyspark.sql.types import StructType, StructField, IntegerType, DoubleType, StringType

In [61]:
schema_pix = StructType([
    StructField("id", IntegerType()),
    StructField("valor", DoubleType()),

])

df = spark.read.csv(
    path=caminho_csv,
    header=True,
    sep=";",
    schema=schema_pix
)

df.show()

+---+--------+
| id|   valor|
+---+--------+
|  1|    9.93|
|  2|   15.38|
|  3|   57.58|
|  4|53705.13|
|  5|25299.69|
|  6| 7165.06|
|  7|    6.16|
|  8|  136.36|
|  9|  574.39|
| 10|   42.88|
| 11|33629.97|
| 12| 4374.56|
| 13|  507.18|
| 14|67758.87|
| 15|  815.53|
| 16|    2.73|
| 17|    0.54|
| 18|49836.72|
| 19|    9.68|
| 20| 9837.22|
+---+--------+
only showing top 20 rows

In [62]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- valor: double (nullable = true)

In [63]:
schema_pix = StructType([
    StructField("id", IntegerType()),
    StructField("valor", DoubleType()),
    StructField("parte_debitada_nome", StringType()),
    StructField("parte_debitada_cpf", StringType()),
    StructField("parte_creditada_nome", StringType()),
    StructField("parte_creditada_cpf", StringType()),
    StructField('chave_pix_tipo', StringType()),
])

df = spark.read.csv(
    path=caminho_csv,
    header=True,
    sep=";",
    schema=schema_pix,
)

df.show()

+---+--------+--------------------+------------------+--------------------+--------------------+--------------+
| id|   valor| parte_debitada_nome|parte_debitada_cpf|parte_creditada_nome| parte_creditada_cpf|chave_pix_tipo|
+---+--------+--------------------+------------------+--------------------+--------------------+--------------+
|  1|    9.93|Dra. Ana Carolina...|          79470453|              Nubank|       Maysa da Cruz|      67162333|
|  2|   15.38|        Ana Caldeira|          19689668|                Itau|        Evelyn Sales|      60005091|
|  3|   57.58|    Arthur Goncalves|          18856899|            Bradesco|          Maria Melo|      13496303|
|  4|53705.13|  Ana Julia Caldeira|          22834741|                Itau|   Ana Livia Almeida|      44695116|
|  5|25299.69|  Srta. Nicole Pinto|           3715882|              Nubank|Srta. Ana Laura d...|      21409465|
|  6| 7165.06|   Gabriela Ferreira|           2243037|              Nubank|       Larissa Souza|      10689552|
|  7|    6.16|    Heloisa da Rocha|          59778949|                 BTG|Dra. Vitoria Silv...|      56583792|
|  8|  136.36|Srta. Isadora Cor...|          77102442|              Nubank|  Francisco da Costa|      96088386|
|  9|  574.39|   Dr. Lucas da Cruz|          38501170|                 BTG|       Calebe da Luz|      19365554|
| 10|   42.88|     Mirella Martins|          29535709|            Bradesco|        Danilo Lopes|      60064650|
| 11|33629.97|Sr. Vitor Gabriel...|          67010663|                 BTG|Sra. Lavinia Cald...|      48145941|
| 12| 4374.56|      Nathan Peixoto|          22975623|              Nubank|        Diogo da Luz|      30302218|
| 13|  507.18|       Miguel Araujo|          75113657|              Nubank|Marcos Vinicius G...|      67418115|
| 14|67758.87|     Juliana Correia|           4495167|                Itau|    Davi Lucas Porto|      94395923|
| 15|  815.53|     Ana Laura Souza|          79650252|                Itau|        Isabel Costa|      28762988|
| 16|    2.73|           Levi Lima|          73815441|                 BTG|Dra. Maria Luiza ...|      96594203|
| 17|    0.54|        Otavio Cunha|          85583961|            Bradesco|       Elisa Moreira|      97003354|
| 18|49836.72|Ana Carolina Oliv...|          80200942|                Itau|    Stella Fernandes|      31579145|
| 19|    9.68|        Levi Martins|          12349481|                Itau|Joao Guilherme Me...|      31102492|
| 20| 9837.22|          Noah Cunha|          84622162|            Bradesco|         Juan Mendes|      97805965|
+---+--------+--------------------+------------------+--------------------+--------------------+--------------+
only showing top 20 rows

In [64]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- valor: double (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_cpf: string (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_cpf: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)

In [65]:
from pyspark.sql.functions import col

df_cast = df.withColumn('id', col('id').cast('int')).withColumn('valor', col('valor').cast('double'))

In [66]:
df_cast.show()

+---+--------+--------------------+------------------+--------------------+--------------------+--------------+
| id|   valor| parte_debitada_nome|parte_debitada_cpf|parte_creditada_nome| parte_creditada_cpf|chave_pix_tipo|
+---+--------+--------------------+------------------+--------------------+--------------------+--------------+
|  1|    9.93|Dra. Ana Carolina...|          79470453|              Nubank|       Maysa da Cruz|      67162333|
|  2|   15.38|        Ana Caldeira|          19689668|                Itau|        Evelyn Sales|      60005091|
|  3|   57.58|    Arthur Goncalves|          18856899|            Bradesco|          Maria Melo|      13496303|
|  4|53705.13|  Ana Julia Caldeira|          22834741|                Itau|   Ana Livia Almeida|      44695116|
|  5|25299.69|  Srta. Nicole Pinto|           3715882|              Nubank|Srta. Ana Laura d...|      21409465|
|  6| 7165.06|   Gabriela Ferreira|           2243037|              Nubank|       Larissa Souza|      10689552|
|  7|    6.16|    Heloisa da Rocha|          59778949|                 BTG|Dra. Vitoria Silv...|      56583792|
|  8|  136.36|Srta. Isadora Cor...|          77102442|              Nubank|  Francisco da Costa|      96088386|
|  9|  574.39|   Dr. Lucas da Cruz|          38501170|                 BTG|       Calebe da Luz|      19365554|
| 10|   42.88|     Mirella Martins|          29535709|            Bradesco|        Danilo Lopes|      60064650|
| 11|33629.97|Sr. Vitor Gabriel...|          67010663|                 BTG|Sra. Lavinia Cald...|      48145941|
| 12| 4374.56|      Nathan Peixoto|          22975623|              Nubank|        Diogo da Luz|      30302218|
| 13|  507.18|       Miguel Araujo|          75113657|              Nubank|Marcos Vinicius G...|      67418115|
| 14|67758.87|     Juliana Correia|           4495167|                Itau|    Davi Lucas Porto|      94395923|
| 15|  815.53|     Ana Laura Souza|          79650252|                Itau|        Isabel Costa|      28762988|
| 16|    2.73|           Levi Lima|          73815441|                 BTG|Dra. Maria Luiza ...|      96594203|
| 17|    0.54|        Otavio Cunha|          85583961|            Bradesco|       Elisa Moreira|      97003354|
| 18|49836.72|Ana Carolina Oliv...|          80200942|                Itau|    Stella Fernandes|      31579145|
| 19|    9.68|        Levi Martins|          12349481|                Itau|Joao Guilherme Me...|      31102492|
| 20| 9837.22|          Noah Cunha|          84622162|            Bradesco|         Juan Mendes|      97805965|
+---+--------+--------------------+------------------+--------------------+--------------------+--------------+
only showing top 20 rows

### Manipulação de dados II

In [67]:
df_cast.printSchema()

root
 |-- id: integer (nullable = true)
 |-- valor: double (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_cpf: string (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_cpf: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)

In [68]:
df_cast.select('id', 'valor').show() # seleciona as colunas desejadas

+---+--------+
| id|   valor|
+---+--------+
|  1|    9.93|
|  2|   15.38|
|  3|   57.58|
|  4|53705.13|
|  5|25299.69|
|  6| 7165.06|
|  7|    6.16|
|  8|  136.36|
|  9|  574.39|
| 10|   42.88|
| 11|33629.97|
| 12| 4374.56|
| 13|  507.18|
| 14|67758.87|
| 15|  815.53|
| 16|    2.73|
| 17|    0.54|
| 18|49836.72|
| 19|    9.68|
| 20| 9837.22|
+---+--------+
only showing top 20 rows

In [69]:
from pyspark.sql.functions import round
df_dolar = df_cast.select('id', 'valor').withColumn('valor_dolar', round(col('valor') * 5, 2))

In [70]:
df_dolar.show()

+---+--------+-----------+
| id|   valor|valor_dolar|
+---+--------+-----------+
|  1|    9.93|      49.65|
|  2|   15.38|       76.9|
|  3|   57.58|      287.9|
|  4|53705.13|  268525.65|
|  5|25299.69|  126498.45|
|  6| 7165.06|    35825.3|
|  7|    6.16|       30.8|
|  8|  136.36|      681.8|
|  9|  574.39|    2871.95|
| 10|   42.88|      214.4|
| 11|33629.97|  168149.85|
| 12| 4374.56|    21872.8|
| 13|  507.18|     2535.9|
| 14|67758.87|  338794.35|
| 15|  815.53|    4077.65|
| 16|    2.73|      13.65|
| 17|    0.54|        2.7|
| 18|49836.72|   249183.6|
| 19|    9.68|       48.4|
| 20| 9837.22|    49186.1|
+---+--------+-----------+
only showing top 20 rows

In [71]:
# Dropando colunas
df_dolar.drop('valor_dolar').show()

+---+--------+
| id|   valor|
+---+--------+
|  1|    9.93|
|  2|   15.38|
|  3|   57.58|
|  4|53705.13|
|  5|25299.69|
|  6| 7165.06|
|  7|    6.16|
|  8|  136.36|
|  9|  574.39|
| 10|   42.88|
| 11|33629.97|
| 12| 4374.56|
| 13|  507.18|
| 14|67758.87|
| 15|  815.53|
| 16|    2.73|
| 17|    0.54|
| 18|49836.72|
| 19|    9.68|
| 20| 9837.22|
+---+--------+
only showing top 20 rows

In [72]:
df_dolar.withColumnRenamed('valor_dolar', 'dolar_valor').show()

+---+--------+-----------+
| id|   valor|dolar_valor|
+---+--------+-----------+
|  1|    9.93|      49.65|
|  2|   15.38|       76.9|
|  3|   57.58|      287.9|
|  4|53705.13|  268525.65|
|  5|25299.69|  126498.45|
|  6| 7165.06|    35825.3|
|  7|    6.16|       30.8|
|  8|  136.36|      681.8|
|  9|  574.39|    2871.95|
| 10|   42.88|      214.4|
| 11|33629.97|  168149.85|
| 12| 4374.56|    21872.8|
| 13|  507.18|     2535.9|
| 14|67758.87|  338794.35|
| 15|  815.53|    4077.65|
| 16|    2.73|      13.65|
| 17|    0.54|        2.7|
| 18|49836.72|   249183.6|
| 19|    9.68|       48.4|
| 20| 9837.22|    49186.1|
+---+--------+-----------+
only showing top 20 rows

In [73]:
df_cast.select('id', 'valor').filter(col('valor') > 30000).show()

+---+--------+
| id|   valor|
+---+--------+
|  4|53705.13|
| 11|33629.97|
| 14|67758.87|
| 18|49836.72|
| 27|35859.11|
| 34|58083.62|
| 36|48714.95|
| 47|38219.08|
| 52|60139.23|
| 54|95977.62|
| 55|35409.61|
| 62|57433.69|
| 71|80083.34|
| 78|81977.98|
| 79| 78559.4|
| 83|35095.43|
| 86|94736.79|
| 88|78347.58|
| 97|94586.45|
+---+--------+

### Tratando dados nulos

In [74]:
df_cast.show()

+---+--------+--------------------+------------------+--------------------+--------------------+--------------+
| id|   valor| parte_debitada_nome|parte_debitada_cpf|parte_creditada_nome| parte_creditada_cpf|chave_pix_tipo|
+---+--------+--------------------+------------------+--------------------+--------------------+--------------+
|  1|    9.93|Dra. Ana Carolina...|          79470453|              Nubank|       Maysa da Cruz|      67162333|
|  2|   15.38|        Ana Caldeira|          19689668|                Itau|        Evelyn Sales|      60005091|
|  3|   57.58|    Arthur Goncalves|          18856899|            Bradesco|          Maria Melo|      13496303|
|  4|53705.13|  Ana Julia Caldeira|          22834741|                Itau|   Ana Livia Almeida|      44695116|
|  5|25299.69|  Srta. Nicole Pinto|           3715882|              Nubank|Srta. Ana Laura d...|      21409465|
|  6| 7165.06|   Gabriela Ferreira|           2243037|              Nubank|       Larissa Souza|      10689552|
|  7|    6.16|    Heloisa da Rocha|          59778949|                 BTG|Dra. Vitoria Silv...|      56583792|
|  8|  136.36|Srta. Isadora Cor...|          77102442|              Nubank|  Francisco da Costa|      96088386|
|  9|  574.39|   Dr. Lucas da Cruz|          38501170|                 BTG|       Calebe da Luz|      19365554|
| 10|   42.88|     Mirella Martins|          29535709|            Bradesco|        Danilo Lopes|      60064650|
| 11|33629.97|Sr. Vitor Gabriel...|          67010663|                 BTG|Sra. Lavinia Cald...|      48145941|
| 12| 4374.56|      Nathan Peixoto|          22975623|              Nubank|        Diogo da Luz|      30302218|
| 13|  507.18|       Miguel Araujo|          75113657|              Nubank|Marcos Vinicius G...|      67418115|
| 14|67758.87|     Juliana Correia|           4495167|                Itau|    Davi Lucas Porto|      94395923|
| 15|  815.53|     Ana Laura Souza|          79650252|                Itau|        Isabel Costa|      28762988|
| 16|    2.73|           Levi Lima|          73815441|                 BTG|Dra. Maria Luiza ...|      96594203|
| 17|    0.54|        Otavio Cunha|          85583961|            Bradesco|       Elisa Moreira|      97003354|
| 18|49836.72|Ana Carolina Oliv...|          80200942|                Itau|    Stella Fernandes|      31579145|
| 19|    9.68|        Levi Martins|          12349481|                Itau|Joao Guilherme Me...|      31102492|
| 20| 9837.22|          Noah Cunha|          84622162|            Bradesco|         Juan Mendes|      97805965|
+---+--------+--------------------+------------------+--------------------+--------------------+--------------+
only showing top 20 rows

In [75]:
df_cast.na.drop('all', subset=['id', 'valor']).show() # Exclui a linha toda se tiver um valor nulo

+---+--------+--------------------+------------------+--------------------+--------------------+--------------+
| id|   valor| parte_debitada_nome|parte_debitada_cpf|parte_creditada_nome| parte_creditada_cpf|chave_pix_tipo|
+---+--------+--------------------+------------------+--------------------+--------------------+--------------+
|  1|    9.93|Dra. Ana Carolina...|          79470453|              Nubank|       Maysa da Cruz|      67162333|
|  2|   15.38|        Ana Caldeira|          19689668|                Itau|        Evelyn Sales|      60005091|
|  3|   57.58|    Arthur Goncalves|          18856899|            Bradesco|          Maria Melo|      13496303|
|  4|53705.13|  Ana Julia Caldeira|          22834741|                Itau|   Ana Livia Almeida|      44695116|
|  5|25299.69|  Srta. Nicole Pinto|           3715882|              Nubank|Srta. Ana Laura d...|      21409465|
|  6| 7165.06|   Gabriela Ferreira|           2243037|              Nubank|       Larissa Souza|      10689552|
|  7|    6.16|    Heloisa da Rocha|          59778949|                 BTG|Dra. Vitoria Silv...|      56583792|
|  8|  136.36|Srta. Isadora Cor...|          77102442|              Nubank|  Francisco da Costa|      96088386|
|  9|  574.39|   Dr. Lucas da Cruz|          38501170|                 BTG|       Calebe da Luz|      19365554|
| 10|   42.88|     Mirella Martins|          29535709|            Bradesco|        Danilo Lopes|      60064650|
| 11|33629.97|Sr. Vitor Gabriel...|          67010663|                 BTG|Sra. Lavinia Cald...|      48145941|
| 12| 4374.56|      Nathan Peixoto|          22975623|              Nubank|        Diogo da Luz|      30302218|
| 13|  507.18|       Miguel Araujo|          75113657|              Nubank|Marcos Vinicius G...|      67418115|
| 14|67758.87|     Juliana Correia|           4495167|                Itau|    Davi Lucas Porto|      94395923|
| 15|  815.53|     Ana Laura Souza|          79650252|                Itau|        Isabel Costa|      28762988|
| 16|    2.73|           Levi Lima|          73815441|                 BTG|Dra. Maria Luiza ...|      96594203|
| 17|    0.54|        Otavio Cunha|          85583961|            Bradesco|       Elisa Moreira|      97003354|
| 18|49836.72|Ana Carolina Oliv...|          80200942|                Itau|    Stella Fernandes|      31579145|
| 19|    9.68|        Levi Martins|          12349481|                Itau|Joao Guilherme Me...|      31102492|
| 20| 9837.22|          Noah Cunha|          84622162|            Bradesco|         Juan Mendes|      97805965|
+---+--------+--------------------+------------------+--------------------+--------------------+--------------+
only showing top 20 rows

## Substituindo pelo valor 0

In [76]:
df_cast.na.fill(0, subset=['id', 'valor']).show()

+---+--------+--------------------+------------------+--------------------+--------------------+--------------+
| id|   valor| parte_debitada_nome|parte_debitada_cpf|parte_creditada_nome| parte_creditada_cpf|chave_pix_tipo|
+---+--------+--------------------+------------------+--------------------+--------------------+--------------+
|  1|    9.93|Dra. Ana Carolina...|          79470453|              Nubank|       Maysa da Cruz|      67162333|
|  2|   15.38|        Ana Caldeira|          19689668|                Itau|        Evelyn Sales|      60005091|
|  3|   57.58|    Arthur Goncalves|          18856899|            Bradesco|          Maria Melo|      13496303|
|  4|53705.13|  Ana Julia Caldeira|          22834741|                Itau|   Ana Livia Almeida|      44695116|
|  5|25299.69|  Srta. Nicole Pinto|           3715882|              Nubank|Srta. Ana Laura d...|      21409465|
|  6| 7165.06|   Gabriela Ferreira|           2243037|              Nubank|       Larissa Souza|      10689552|
|  7|    6.16|    Heloisa da Rocha|          59778949|                 BTG|Dra. Vitoria Silv...|      56583792|
|  8|  136.36|Srta. Isadora Cor...|          77102442|              Nubank|  Francisco da Costa|      96088386|
|  9|  574.39|   Dr. Lucas da Cruz|          38501170|                 BTG|       Calebe da Luz|      19365554|
| 10|   42.88|     Mirella Martins|          29535709|            Bradesco|        Danilo Lopes|      60064650|
| 11|33629.97|Sr. Vitor Gabriel...|          67010663|                 BTG|Sra. Lavinia Cald...|      48145941|
| 12| 4374.56|      Nathan Peixoto|          22975623|              Nubank|        Diogo da Luz|      30302218|
| 13|  507.18|       Miguel Araujo|          75113657|              Nubank|Marcos Vinicius G...|      67418115|
| 14|67758.87|     Juliana Correia|           4495167|                Itau|    Davi Lucas Porto|      94395923|
| 15|  815.53|     Ana Laura Souza|          79650252|                Itau|        Isabel Costa|      28762988|
| 16|    2.73|           Levi Lima|          73815441|                 BTG|Dra. Maria Luiza ...|      96594203|
| 17|    0.54|        Otavio Cunha|          85583961|            Bradesco|       Elisa Moreira|      97003354|
| 18|49836.72|Ana Carolina Oliv...|          80200942|                Itau|    Stella Fernandes|      31579145|
| 19|    9.68|        Levi Martins|          12349481|                Itau|Joao Guilherme Me...|      31102492|
| 20| 9837.22|          Noah Cunha|          84622162|            Bradesco|         Juan Mendes|      97805965|
+---+--------+--------------------+------------------+--------------------+--------------------+--------------+
only showing top 20 rows

In [90]:
from pyspark.sql.types import TimestampType
schema_pix = StructType([
    StructField("id", IntegerType()),
    StructField("valor", DoubleType()),
    StructField("parte_debitada_nome", StringType()),
    StructField('parte_debitada_conta', StringType()),
    StructField("parte_debitada_banco", StringType()),
    StructField("parte_creditada_nome", StringType()),
    StructField('parte_creditada_conta', StringType()),
    StructField('parte_creditada_banco', StringType()),
    StructField('chave_pix_tipo', StringType()),
    StructField('chave_pix_valor', StringType()),
    StructField('data_transacao', TimestampType()),
])

df = spark.read.csv(
    path=caminho_csv,
    header=True,
    sep=";",
    schema=schema_pix,
    timestampFormat='dd/MM/yyyy HH:mm'
)

df.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|2021-03-07 12:34:00|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|2021-03-24 22:58:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|2021-07-20 09:17:00|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|2022-02-26 15:05:00|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|2021-06-22 05:39:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

In [95]:
df_not_null = df.na.fill(0, subset=['valor'])

In [96]:
df_not_null.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|2021-03-07 12:34:00|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|2021-03-24 22:58:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|2021-07-20 09:17:00|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|2022-02-26 15:05:00|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|2021-06-22 05:39:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

In [97]:
from pyspark.sql.functions import year
df_not_null.select(year(col('data_transacao'))).show()

+--------------------+
|year(data_transacao)|
+--------------------+
|                2022|
|                2022|
|                2022|
|                2022|
|                2022|
|                2022|
|                2021|
|                2021|
|                2021|
|                2022|
|                2022|
|                2022|
|                2021|
|                2021|
|                2022|
|                2021|
|                2022|
|                2022|
|                2022|
|                2021|
+--------------------+
only showing top 20 rows

In [98]:
from pyspark.sql.functions import year
df_2022 = df_not_null.filter(year(col('data_transacao')) == 2022)

In [99]:
df_2022.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|2022-02-26 15:05:00|
| 22|   22.43|       Fernanda Melo|             3317895|              Nubank| Luiz Otavio Ribeiro|             97680466|                  BTG|       celular|    84972507365|2022-08-04 00:48:00|
| 25|   28.66|     Leandro Freitas|            91133554|                Itau|   Valentina Pereira|              6414456|                  BTG|       celular|    71979984146|2022-08-24 15:39:00|
| 26|  154.98|         Luiza Pires|            69839296|            Bradesco|         Pietra Melo|             42851788|                 Itau|       celular|    71908616462|2022-01-28 16:51:00|
| 29|  890.47|Sr. Luiz Felipe S...|            20051189|            Bradesco|Enzo Gabriel Cardoso|             17302910|               Nubank|       celular|    31920761665|2022-11-19 19:25:00|
| 31|20875.64|Dr. Joao Gabriel ...|            51847615|                 BTG|        Ana Caldeira|             69556895|             Bradesco|       celular|    84993893778|2022-04-29 10:17:00|
| 33|    1.58|Dra. Ana Vitoria ...|             7482168|                 BTG|       Alexia Farias|             53857589|                  BTG|       celular|    81992580873|2022-07-03 23:37:00|
| 35| 7944.02|     Clara das Neves|            74962702|                 BTG|       Stella Santos|             70949900|               Nubank|       celular|    41953574945|2022-02-02 14:41:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

In [101]:
df_2022.withColumn('data_transacao', year(col('data_transacao'))).groupBy('data_transacao').count().show()

+--------------+-----+
|data_transacao|count|
+--------------+-----+
|          2022|   48|
+--------------+-----+

In [102]:
df_2022.write.csv('output/base_2022.csv')

### Particionamento

In [103]:
df.rdd.getNumPartitions()

1

In [104]:
!lscpu

Architecture:                x86_64
  CPU op-mode(s):            32-bit, 64-bit
  Address sizes:             46 bits physical, 48 bits virtual
  Byte Order:                Little Endian
CPU(s):                      2
  On-line CPU(s) list:       0,1
Vendor ID:                   GenuineIntel
  Model name:                Intel(R) Xeon(R) CPU @ 2.20GHz
    CPU family:              6
    Model:                   79
    Thread(s) per core:      2
    Core(s) per socket:      1
    Socket(s):               1
    Stepping:                0
    BogoMIPS:                4399.99
    Flags:                   fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pg
                             e mca cmov pat pse36 clflush mmx fxsr sse sse2 ss h
                             t syscall nx pdpe1gb rdtscp lm constant_tsc rep_goo
                             d nopl xtopology nonstop_tsc cpuid tsc_known_freq p
                             ni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2ap
                             ic movbe popcnt aes xsave avx f16c rdrand hyperviso
                             r lahf_lm abm 3dnowprefetch ssbd ibrs ibpb stibp fs
                             gsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invp
                             cid rtm rdseed adx smap xsaveopt arat md_clear arch
                             _capabilities
Virtualization features:
  Hypervisor vendor:         KVM
  Virtualization type:       full
Caches (sum of all):
  L1d:                       32 KiB (1 instance)
  L1i:                       32 KiB (1 instance)
  L2:                        256 KiB (1 instance)
  L3:                        55 MiB (1 instance)
NUMA:
  NUMA node(s):              1
  NUMA node0 CPU(s):         0,1
Vulnerabilities:
  Gather data sampling:      Not affected
  Indirect target selection: Vulnerable
  Itlb multihit:             Not affected
  L1tf:                      Mitigation; PTE Inversion
  Mds:                       Vulnerable; SMT Host state unknown
  Meltdown:                  Vulnerable
  Mmio stale data:           Vulnerable
  Reg file data sampling:    Not affected
  Retbleed:                  Vulnerable
  Spec rstack overflow:      Not affected
  Spec store bypass:         Vulnerable
  Spectre v1:                Vulnerable: __user pointer sanitization and usercop
                             y barriers only; no swapgs barriers
  Spectre v2:                Vulnerable; IBPB: disabled; STIBP: disabled; PBRSB-
                             eIBRS: Not affected; BHI: Vulnerable
  Srbds:                     Not affected
  Tsa:                       Not affected
  Tsx async abort:           Vulnerable

In [106]:
df_2022.write.mode('overwrite').partitionBy('chave_pix_tipo').parquet('output/parquet/base')

In [111]:
from pyspark.sql.functions import date_format
df_final = df.withColumn('data_particao', date_format(col('data_transacao'), 'yyyy-mm-dd'))

In [112]:
df_final.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+-------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|data_particao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+-------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|   2022-28-18|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|   2022-47-08|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|   2022-18-14|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|   2022-06-15|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|   2022-04-13|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|   2022-38-11|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00|   2021-37-10|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00|   2021-18-30|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00|   2021-20-21|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|   2022-19-21|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00|   2022-29-12|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00|   2022-01-07|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|2021-03-07 12:34:00|   2021-34-07|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|2021-03-24 22:58:00|   2021-58-24|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00|   2022-25-21|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|2021-07-20 09:17:00|   2021-17-20|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00|   2022-16-16|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00|   2022-46-18|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|2022-02-26 15:05:00|   2022-05-26|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|2021-06-22 05:39:00|   2021-39-22|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+-------------+
only showing top 20 rows

In [114]:
df_final.write.mode('overwrite').partitionBy('data_particao').parquet('output/parquet/base')

In [116]:
df_parquet = spark.read.parquet('./output/parquet/base')

In [118]:
df_parquet.rdd.getNumPartitions()

4

In [119]:
df_parquet_coalesce = df_parquet.coalesce(2)

In [120]:
df_parquet_coalesce.rdd.getNumPartitions()

2

In [124]:
df_final_ano_mes = df.withColumn('data_particao', date_format(col('data_transacao'), 'yyyy-MM'))

In [125]:
df_final_ano_mes.write.mode('overwrite').partitionBy('data_particao').parquet('output/parquet/base')